@import "tailwindcss";
@import "tw-animate-css";

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #0B3B2E;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

.theme-loader {
 @apply container mx-auto;
 position: fixed;
 width: 100%;
 height: 100%;
 background: transparent;
 z-index: 9999999999;
}
.spinner {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translateX(-50%) translateY(-50%);
 display: flex;
}
.spinner-bounce {
 will-change: transform;
 height: 45px;
 width: 45px;
 border-radius: 50%;
 background: linear-gradient(to right, #0B3B2E, #1EA17E);
 display: inline-block;
 animation: bounces 1s ease-in-out infinite alternate;
 transform-origin: 50% 50%;
 &.one {
  margin-right: 15px;
 }
 &.two {
  margin-right: 15px;
  animation-delay: .4s;
 }
 &.three {
  animation-delay: .8s;
 }
}
@keyframes bounces {
 0% {
  transform: scale(0.8);
 }
 100% {
  transform: scale(.2);
 }
}